@import '../pallete.scss';
@import 'styleUtils.scss';
@import 'variables.scss';
$avatar-height: 408px;

@keyframes flow-from-left {
    0% { position: relative; left: -50px; opacity: 0; }
    100% { position: relative; left: 0px; opacity: 1; }
}

.landing-page {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.upper-row {
    margin-top: 50px;
    width: 100%;

    display: flex;
    flex-direction: column;
    background-color: lighten($primary, 50%);
}

.presentation {
    align-self: center;
    width: $siteContentWidth;
    height: $avatar-height;

    padding: 10px 0px;

    animation-name: flow-from-left;
    animation-duration: 1s;
    animation-timing-function: ease;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 15px;

    grid-template-areas:
        "avatar name"
        "avatar description";

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "name"
            "avatar"
            "description";

        height: 100%;
    }
}

.avatar {
    width: 100%;
    // max-height: 450px;

    grid-area: avatar;
    justify-self: center;
    filter: drop-shadow(-8px 5px 8px #3a3a3a);
}

.name {
    grid-area: name;

    margin-top: 10px;

    font-size: 40px;
    color: $primary;
}

.description {
    grid-area: description;

    margin-top: 10px;

    text-align: justify;
    color: $dark-grey;

    overflow: hidden;
    @include fadeOverflow(90%, transparent);

    @media screen and (max-width: 800px) {
        text-align: center;
    }
}
