$rest-navigation-color: hsla(250, 67%, 40%, 1);

.navigation-bar {
    position: fixed;
    top: 10%;
    left: 50px;
    z-index: 1;

    border-right: solid $rest-navigation-color 0.05em;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navigation-link {
    position: relative;
    left: 0px;
    padding-right: 1em;

    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $rest-navigation-color;

    transition: left 0.5s;

    &:hover {
        left: 5px;

        color: hsla(250, 67%, 12%, 1);
    }
}
