/* see pallete here -> coolors.co/262626-13296c-361fad-9d2a15-d9eea0 */

$dark-grey: #1f1f1f; // hsl(0, 0, 12%)
$primary: #263359; // hsl(220, 40%, 25%) - blue
$secondary: #361fad; // hsl(250, 70%, 40%) - blue
$accent: #9d2a15; //hsl(9, 76%, 35%) - red
$background: #e6e6e6; // hsl(0, 0%, 90%)
