/* see pallete here -> coolors.co/262626-13296c-361fad-9d2a15-d9eea0 */

$dark-grey: #262626 // hsl(0, 0, 15%)
$primary: #13296c; // hsl(220, 70%, 25%) - blue
$secondary: #361fad; // hsl(250, 70%, 40%) - blue
$accent: #9d2a15; //hsl(9, 76%, 35%) - red
$background: #d9eea0; // hsl(76, 70%, 78%) - green 
