@mixin fadeOverflow($overflowStart, $backgroundColor) {
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background: linear-gradient(transparent $overflowStart, $backgroundColor);
    } 
}
