@import '../../pallete.scss';

.post-summary {
    margin: 5px;
    padding: 2px 5px;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

    grid-template-areas:
        "title"
        "description";

    &-title {
        grid-area: title;

        margin: 0.3em 5px;
        font-size: 30px;
        text-align: center;
        color: $primary;
    }

    &-description {
        grid-area: description;
        justify-self: center;

        text-indent: 2em;
        text-align: justify;
        color: $dark-grey;
    }
    &-date {
        border-top: 1px dashed;
        width: 100%;
        grid-area: title;
    }
}
